ion-card-header{
  padding-bottom: 5px;
  padding-top: 0;
  padding-bottom: 0;
}
ion-grid{
  padding-bottom: 10px;
}
ion-col {
 padding-top: 0;
}
ion-grid{
  padding-bottom: 0;
  padding-top: 0;
}

.flex{
  display: flex;
  justify-content: center;

}