<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      WifiCam
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
 
  <ion-item>
    <ion-label>Esp32 cam</ion-label>
  </ion-item>
  <ion-card class="ion-padding " >
    <ion-card-header>Camara</ion-card-header>
    <ion-card-content class="flex">
      <iframe [src]="ip | safe" importance="high" sandbox="allow-scripts allow-top-navigation allow-pointer-lock allow-same-origin allow-popups"></iframe>

    </ion-card-content>
     <ion-card-subtitle> <ion-button id="btn" (click)="doRefresh()" expand="block" fill="solid" shape="round" color="medium" size="small">
      Back and refresh
    </ion-button></ion-card-subtitle>

  </ion-card>
 
  <ion-card  class="ion-padding">
    <ion-card-header>Control de visualizacion</ion-card-header>
    <ion-button size="small" expand="block"  color="dark" shape="round">
      <ion-icon name="caret-up-outline"></ion-icon>
      </ion-button>
      <ion-item>
        <ion-icon name="caret-back-outline"></ion-icon>
        <ion-label>  
         <ion-range [min]="0" [max]="10" [value]="5"  [ticks]="true" [snaps]="true"></ion-range>   
        </ion-label>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-item>   
      <ion-button size="small" expand="block"  color="dark" shape="round">
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
  </ion-card>
</ion-content>
