
ion-icon{
  color: #24a0e7;
}
.flex{
  display: flex;
  justify-content: center;
}

ion-range {
  --bar-background: #bde0fe87;
  --bar-background-active: black;
  --bar-height: 8px;
  --bar-border-radius: 8px;
  --knob-background: #24a0e7;
  --knob-size: 40px;
}
